<p>test works!</p>
<h2 [class]="success" >{{x}} Shiv {{name}} singh </h2>
<h2 [class]="danger" > {{"welcome " + y }} {{name}}  </h2>
<h2 [class.text-danger]="textError">name_Length= {{y.length}}</h2>
<h2>{{greetUser()}}</h2>
<h2>{{staticUrl}}</h2>
<h2 [ngClass]="messageClass" >{{"Host NAME= "+uNAme}}</h2>
<input [id]="myId" type="text" value="Shiv">
<div>
    <input [style.color]="'orange'"  [disabled]="k" id={{myId}} type="text" value="Shiv">
</div>


<h1 [style.color]="'blue'"> Style binding </h1>
<h1 [style.color]="textError ? 'blue' : 'orange' " >Apply condition on the style binding. </h1>
<h1 [style.color]="styleProp" >Style binding with property binding </h1>
<h2 [ngStyle]="styleBinding">  ngStyle binding for multiple style binding. </h2>
<h2><p (click)="clickButton()">{{num}}</p></h2>
<h2><button (click)="onClick()" >Click </button>{{clickMessage}}</h2>
<input (keyup)="onKey($event)">
  <p>{{values}}</p>
<h2><button (click)="onClickEvent($event)" > Event </button>{{"Event Name= "+ eventMessage}}</h2>

<div> 
    <h2> Text binding: </h2>
    <input #box (keyup)="0">
    <p>{{box.value}}</p>   
</div>
<div>
<span> Two way binding : </span>
<input [(ngModel)]="textMsg" type="text">
{{textMsg}}
</div>
